<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.research.obstetric_hemorrhage">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/d2icon"
        android:label="Douhla"
        android:roundIcon="@mipmap/d2icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mypatient_info"></activity>
        <activity android:name=".patient_info" />

        <service
            android:name=".FirebaseCloudFunctions"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SignupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>